@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";

@theme {
    --font-display: 'Mona Sans', sans-serif;
    --font-body: "Inter", sans-serif;

    --color-skyrise-blue: #4d73b9;
    --color-deep-sky: #1e3a8a;
    --color-glass-clean: #f8fafc;
    --color-text-main: #0f172a;
}

html,
body {
    width: 100%;
    background-color: var(--color-glass-clean);
    color: var(--color-text-main);
    scroll-behavior: smooth;
    overflow-x: clip;
    box-sizing: border-box;
}

@utility flex-center {
    @apply flex justify-center items-center;
}

@utility col-center {
    @apply flex flex-col justify-center items-center;
}

@utility abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility abs-left {
    @apply absolute top-1/5 left-10;
}

@layer components {
    main {
        @apply w-full overflow-x-hidden;
    }

    nav {
        @apply fixed z-50 w-full md:px-8 px-0 ;

        div {
            @apply flex md:flex-row flex-col md:justify-between items-center gap-5 py-5 lg:px-0 px-5 container mx-auto;
        }

        p {
            @apply font-display text-xl -mb-2;
        }

        a {
            @apply cursor-pointer text-nowrap md:text-base text-sm;
        }

        ul {
            @apply flex-center lg:gap-12 gap-7;
        }

        .btn {
            @apply border border-solid border-text-main rounded-4xl px-4 py-2 hover:bg-text-main hover:text-white;
        }
    }

    #hero {
        h1 {
            @apply text-3xl md:text-4xl md:text-[4vw] leading-tight font-display;
        }

        p {
            @apply  w-3/4 md:w-2/3 text-center text-2xl md:text-3xl leading-loose h-[70vh]
        }
    }

    #services {
        .s-card {
            @apply rounded-2xl border border-neutral-200 bg-white p-6 transition hover:-translate-y-1 hover:shadow-md;
        }
        .container {
            @apply  p-6 h-[250vh] lg:mx-auto;
        }

        h1 {
            @apply mb-16 text-4xl sticky top-20 font-display;
        }

        h3 {
            @apply mb-3 text-xl font-medium;
        }

        p {
            @apply text-sm text-neutral-600 leading-relaxed;
        }
    }

    #process {
        @apply bg-text-main text-glass-clean h-[300vh] py-6 lg:px-8 w-full;

        .container {
            @apply grid gap-4 md:grid-cols-[1fr_2fr] md:gap-6 h-screen;
        }

        .steps {
            @apply flex flex-col gap-10 p-10 py-10 font-bold 2xl:justify-center 2xl:gap-15;
        }

        .step {
            @apply text-6xl 2xl:text-7xl text-[#4b5563];
        }

        .steps-animation {
            @apply flex flex-col justify-around items-center p-4 lg:py-10;
        }

        .step-description {
            @apply text-2xl text-glass-clean text-center;
        }
    }

    #process-steps {
        @apply flex h-[15vh] md:h-[30vh] ;

        img {
            @apply w-11 md:w-20;
        }

        .up {
            @apply flex self-start -rotate-9;
        }

        .down {
            @apply flex self-end;
        }

        .arrow {
            clip-path: inset(0 100% 0 0); /* fully hidden from the right */
        }
    }

    #quote {
        background-image: url('/images/quote-bg.jpg');
        @apply relative h-screen w-full bg-cover bg-center bg-no-repeat text-white;

        /* This ensures the content sits on top of the background */
        @apply flex items-center justify-center p-6 md:p-0;

        .form-container {
            @apply backdrop-blur-xl backdrop-saturate-150 flex flex-col md:flex-row space-y-0 md:space-y-4 p-6;
            @apply  bg-white/25 rounded-xl border border-neutral-200 shadow-md w-full md:w-2/3 2xl:w-1/2 gap-5 md:gap-10 2xl:gap-2;
        }

        h1 {
            @apply text-lg font-semibold mb-10;
        }

        form {
            @apply w-full flex flex-col space-y-6;
        }

        input {
            @apply w-full p-2 bg-white text-black rounded-md border border-gray-300 focus:border-skyrise-blue focus:ring-1  outline-none transition;
        }

        button {
            @apply mt-6 py-1 px-6 rounded-sm  border border-skyrise-blue text-white font-bold text-lg hover:bg-black/20 transition-all;
        }

        .plan {
            @apply p-3 text-center border border-white/20 rounded-lg bg-white/5 text-sm text-white transition-all peer-checked:border-skyrise-blue peer-checked:bg-skyrise-blue/10 peer-checked:text-skyrise-blue;
        }

        .active {
            @apply border border-skyrise-blue p-1 px-2 rounded-lg text-sm transition-all;
        }
    }
}