@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";

@theme {
    --font-display: 'Mona Sans', sans-serif;
    --font-body: "Inter", sans-serif;

    --color-skyrise-blue: #4d73b9;
    --color-deep-sky: #1e3a8a;
    --color-glass-clean: #f8fafc;
    --color-text-main: #0f172a;
}

html,
body {
    width: 100%;
    background-color: var(--color-glass-clean);
    color: var(--color-text-main);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@utility flex-center {
    @apply flex justify-center items-center;
}

@utility col-center {
    @apply flex flex-col justify-center items-center;
}

@utility abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility abs-left {
    @apply absolute top-1/5 left-10;
}

@layer components {
    main {
        @apply w-full overflow-x-hidden;
    }

    nav {
        @apply fixed z-50 w-full md:px-8 px-0 ;

        div {
            @apply flex md:flex-row flex-col md:justify-between items-center gap-5 py-5 lg:px-0 px-5 container mx-auto;
        }

        p {
            @apply font-display text-xl -mb-2;
        }

        a {
            @apply cursor-pointer text-nowrap md:text-base text-sm;
        }

        ul {
            @apply flex-center lg:gap-12 gap-7;
        }

        button {
            @apply border-1 border-solid border-text-main rounded-4xl px-4 py-2 hover:bg-text-main hover:text-white;
        }
    }

        #hero {
            h1 {
                @apply text-4xl md:text-[4vw] leading-tight font-display;
            }
            p {
                @apply w-2/3 text-center text-3xl leading-loose h-[70vh]
            }
    }

}